@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

footer, #hero-section, nav {
    background-color: #1F2937;
    color: #E5E7EB;
}

.quote-section {
    background-color: #E5E7EB;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

h2 {
    margin: 48px 0;
    font-size: 36px;
    color: #1F2937;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    font-weight: 900;
}

h4 {
    font-size: 18px;
    color: #1F2937;
    align-self: flex-end;
}

p {
    margin: 6px 0;
    font-size: 18px;
}

#header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

#header-links a{
    color: #E5E7EB;
    font-size: 18px;
}

#hero-section, nav, footer, #quote-section, #call-to-action-section, #information-section {
    display: flex;
    padding-left: 23vh;
    padding-right: 23vh;
}

.button {
    text-align: center;
    background-color: #3882F6;
    width: 64px;
    padding: 8px 32px;
    margin-top: 16px;
    border-radius: 6px;
}

.button a {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

#hero-section {
    justify-content: space-between;
    gap: 16px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    align-items: center;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.hero-desc {
    flex: 1 1 400px;
}

.hero-img {
    flex-grow: 1;
    width: 400px;
    height: auto;
}

.text {
    color: #E5E7EB;
}

#information-section {
    flex-direction: column;
    align-items: center;
}

.card {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-img {
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.info-text {
    text-align: center;
    color: #2b3747;
}

.flex-con {
    display: flex;
    gap: 42px;
    margin-bottom: 120px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#quote-section {
    background-color: #E5E7EB;
    flex-direction: column;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
    
}

.quote-wrapper {
    margin: 100px 12%;
    display: flex;
    flex-direction: column;
}

.c2a-box {
    background-color: #3882F6;
    display: flex;
    border-radius: 6px;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
    padding: 42px 12%;
    flex-wrap: wrap;
    margin: 80px 0;
}

.white-bdr {
    border: 2px solid #F9FAF8;
    margin: 0;
}

#call-to-action-section {
    justify-content: center;
}

footer {
    justify-content: center;
    padding: 32px 0;
}